@model MainBit.Captcha.ViewModel.CaptchaEditViewModel
<fieldset>
    <label class="required">
        @T("Type captcha")<br />
        <img src="@(Model.Captcha.Src)"/>
    </label>
    <input id="@Html.IdFor(m => m.Value)" name="@Html.NameFor(m => m.Value)" required="required" type="text" value="">
    <input id="@Html.IdFor(m => m.Captcha.Guid)" name="@Html.NameFor(m => m.Captcha.Guid)" type="hidden" value="@(Model.Captcha.Guid)">
</fieldset>